<% @user.messages.each do |message| %>
<h3> Sent to: <%= message.recipient %></h3>
<h3> Subject: <%= message.subject %></h3>
<h3> Sent at:  <%= message.send_time %></h2>   
<p> Message Text:  <%= message.text %></p>
<p> Message ID: <%= message.id %></p>
 <h2><%= link_to "edit", edit_user_message_path(current_user, message)%>  <%= link_to "delete", user_message_path(current_user, message), method: :delete, confirm: "Are you sure you want to delete this message?" %></h2>
<hr>
<% end %>
