<h1>User Profile for <%= @user.first_name %> </h1>
<hr>
<h1>hello</h1>

<%= form_for @message, url: user_messages_path(@user) do |f| %>

      
	<div>    
    <%= f.label "recipient" %><br>
    <%= f.text_field "recipient" %>
  </div>
   <div>
    <%= f.label "recipient_email" %><br>
    <%= f.text_field "recipient_email" %>
  </div>
  <div>
    <%= f.label "subject" %><br>
    <%= f.text_field "subject" %>
  </div>
  <div>
    <%= f.label "recipient_phone_number" %><br>
    <%= f.telephone_field "recipient_phone_number" %>
  </div>
  <div>
    <%= f.label "send_time" %><br>
    <%= f.date_field "send_time" %>
  </div>
  <div>
    <%= f.label "text" %><br>
    <%= f.text_area "text" %>
  </div>

  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>


<% @user.messages.each do |message| %>
<h1><%= link_to "edit", edit_user_message_path(current_user, message)%>  <%= link_to "delete", user_message_path(current_user, message), method: :delete, confirm: "Are you sure you want to delete this message?" %></h1>

  <h3> Message Recipient: <%= message.recipient %></h3>
  <h3> Subject: <%= message.subject %></h3>
  <h2> Message sent by:  <%= message.subject %></h2>
  <h2><%= message.send_time %></h2>
  <h2><%= message.user_id %></h2>
  <p> Message Text:  <%= message.text %></p>
  <hr>

  
<% end %>
