<h1>User Profile for <%= @user.first_name %> </h1>
<hr>
<% @message.each do |message| %>
  <h3> Message Recipient: <%= message.recipient %></h3>
  <h3> Subject: <%= message.subject %></h3>
  <h2> Message sent by:  <%= message.subject %></h2>
  <h2><%= message.send_time %></h2>
  <p> Message Text:  <%= message.text %></p>
  <hr>
<% end %>
 -->